:host {
  display: table;
  table-layout: fixed;
  position: unset;
  float: left;
  height: 30px;
  width: 100%;
  color: #e2e2e2;
}

.disabled {
  color: #e2e2e299;
}

input {
  border-color: rgba(0, 0, 0, 0);
  background: #1e2124;
  padding: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 30px;
}

.auto-complete-select {
  position: relative;
}

.auto-complete-label {
  width: 100%;
  background-color: #1e2124;
  padding: 6px 12px;
  height: 30px;
  vertical-align: middle;
  cursor: text;
  white-space: nowrap;
  overflow-x: clip;
  text-overflow: ellipsis;
  box-sizing: border-box;

  &.disabled {
    cursor: default;
  }
}

.auto-complete-input {
  display: flex;

  input {
    text-align: left !important;
    padding: 12px;
    font-size: inherit;
  }
}

.auto-complete-options {
  position: absolute;
  width: 100%;
  z-index: 100;
  background-color: #1e2124;
  height: 200px;
  overflow: auto;
  border: 1px solid #777777;
  cursor: default;
  margin-top: -2px;
}

.auto-complete-option {
  padding: 6px 12px;
  height: 28px;
  vertical-align: middle;
  overflow-x: clip;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;

  &:hover {
    background-color: #465260 !important;
  }

  &.selected {
    background-color: #2d3136;
  }
}

.close-btn {
    width: 40px;
    height: 30px;
    margin-left: 2px;
    border: none !important;
}
