<div class="search-advanced-items">

  <div class="row row-total row-justify-content-left">
    <div class="info reset-font">
      These settings have no impact on which items are shown or hidden, but change how items are displayed.
    </div>
  </div>

  <div class="search-advanced-pane blue">

    <div class="filter-group expanded" style="z-index: 100;">
      <div class="filter-group-header">
        <div class="filter">
          <span class="filter-body">
            <span class="filter-title">
              Top-Tier Currency
              <div class="filter-tip"><p>Plays an alert sound or increases the size of top tier currency (purple and brown) of all types.</p></div>
            </span>
          </span>
        </div>
      </div>
      <div class="filter-group-body">

        <div class="filter full-span" [class.disabled]="!filter.cosmeticTopCurrencyAlertSounds">
          <span class="input-group-btn">
            <button class="btn toggle-btn" [class.off]="!filter.cosmeticTopCurrencyAlertSounds" (click)="toggleCosmeticTopCurrencyAlertSounds()"></button>
          </span>
          <span class="filter-body">
            <div class="filter-title">
              Play Top-Tier Currency Alert Sounds
            </div>
          </span>
        </div>

        <div class="filter full-span" [class.disabled]="!filter.cosmeticTopCurrencyLabels">
          <span class="input-group-btn">
            <button class="btn toggle-btn" [class.off]="!filter.cosmeticTopCurrencyLabels" (click)="toggleCosmeticTopCurrencyLabel()"></button>
          </span>
          <span class="filter-body">
            <div class="filter-title">
              Increased Top-Tier Currency Label Size
            </div>
          </span>
        </div>

      </div>
      <div class="clear"></div>
    </div>

  </div>

  <div class="search-advanced-pane blue">

    <div class="filter-group expanded">
      <div class="filter-group-header">
        <div class="filter">
          <span class="filter-body">
            <span class="filter-title">
              Bare Bone Mode
              <div class="filter-tip"><p>These settings allow you to remove all styles completely. You can also use them if you want to style everything from scratch.</p></div>
            </span>
          </span>
        </div>
      </div>
      <div class="filter-group-body">

        <div class="filter full-span" [class.disabled]="!filter.cosmeticRemoveAllHighlights">
          <span class="input-group-btn">
            <button class="btn toggle-btn" [class.off]="!filter.cosmeticRemoveAllHighlights" (click)="toggleCosmeticRemoveAllHighlights()"></button>
          </span>
          <span class="filter-body">
            <div class="filter-title">
              Disable all Highlights
            </div>
          </span>
        </div>

        <div class="filter full-span" [class.disabled]="!filter.cosmeticRemoveAllMinimapIcons">
          <span class="input-group-btn">
            <button class="btn toggle-btn" [class.off]="!filter.cosmeticRemoveAllMinimapIcons" (click)="toggleCosmeticRemoveAllMinimapIcons()"></button>
          </span>
          <div class="filter-title">
            Disable all Minimap Icons
            </div>
        </div>

      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="search-advanced-pane full-width">

    <div class="filter-group expanded">
      <div class="filter-group-header">
        <div class="filter">
          <span class="filter-body">
            <span class="filter-title">
              Custom Cosmetic Rules
            </span>
          </span>
        </div>
      </div>
      <div class="filter-group-body">

        @for (rule of filter.customCosmeticRules; track $index) {
        <div class="filter full-span">
          <span class="input-group-btn">
            <button class="btn toggle-btn" [class.off]="!rule.active" (click)="toggleCustomCosmeticRuleActive($index)"></button>
          </span>
          <span class="filter-body">
            <div tabindex="-1" class="multiselect filter-select" style="width: 180px;">
              <div class="multiselect__tags">
                <select [(ngModel)]="rule.itemType" (change)="itemTypeChanged(rule)" [disabled]="!rule.active">
                  <option [value]="'All'">All</option>
                  @for (itemType of itemData; track itemType.itemType) {
                  <option [value]="itemType.itemType">{{ itemType.itemType }}</option>
                  }
                </select>
              </div>
            </div>
            <span class="sep"></span>
            <pf-autocomplete
              [options]="getBaseTypesForItemType(rule.itemType)"
              [disabled]="!rule.active"
              [showOptions]="rule.itemClass !== 'All'"
              [selectedValues]="rule.baseTypes"
              (selectedValuesChange)="selectedValuesChanged(rule, $event)"></pf-autocomplete>
            <span class="sep"></span>
            <div tabindex="-1" class="multiselect filter-select" style="width: 50px;">
              <div class="multiselect__tags">
                <select [(ngModel)]="rule.rarityComparator" (change)="updateFilter()" [disabled]="!rule.active || currencyItemTypes.includes(rule.itemType)">
                  <option [value]="Comparator.GreaterThanOrEqual">≥</option>
                  <option [value]="Comparator.Equal">=</option>
                  <option [value]="Comparator.LessThanOrEqual">≤</option>
                </select>
              </div>
            </div>
            <span class="sep"></span>
            <div tabindex="-1" class="multiselect filter-select" style="width: 120px;">
              <div class="multiselect__tags">
                <select [(ngModel)]="rule.rarity" (change)="updateFilter()" [disabled]="!rule.active || currencyItemTypes.includes(rule.itemType)">
                  <option [value]="Rarity.Normal">Normal</option>
                  <option [value]="Rarity.Magic">Magic</option>
                  <option [value]="Rarity.Rare">Rare</option>
                  <option [value]="Rarity.Unique">Unique</option>
                </select>
              </div>
            </div>
          </span>
          <span class="input-group-btn">
            <button class="btn toggle-button" [class.active]="rule.cosmeticOptions!.labelStyle"
              (click)="rule.cosmeticOptions!.labelStyle = !rule.cosmeticOptions!.labelStyle; updateFilter();">
              Label
            </button>
            <button class="btn toggle-button" [class.active]="rule.cosmeticOptions!.minimapIcon"
              (click)="rule.cosmeticOptions!.minimapIcon = !rule.cosmeticOptions!.minimapIcon; updateFilter();">
              Icon
            </button>
            <button class="btn toggle-button" [class.active]="rule.cosmeticOptions!.playEffect"
              (click)="rule.cosmeticOptions!.playEffect = !rule.cosmeticOptions!.playEffect; updateFilter();">
              Beam
            </button>
          </span>
          <span class="input-group-btn">
            <button class="btn remove-btn" (click)="removeCustomCosmeticRule($index)"></button>
          </span>
        </div>
        @if(rule.cosmeticOptions!.minimapIcon || rule.cosmeticOptions!.playEffect) {
        <div class="filter filter-padded">
          <span class="filter-body">
            @if(rule.cosmeticOptions!.minimapIcon) {
            <div class="filter-title" style="width: 55px">
              Icon
            </div>
            <span class="sep"></span>
            <div tabindex="-1" class="multiselect filter-select">
              <div class="multiselect__tags">
                <select [(ngModel)]="rule.cosmeticOptions!.minimapIconSize" (change)="updateFilter()" [disabled]="!rule.active || !rule.cosmeticOptions!.minimapIcon">
                  <option [value]="MinimapIconSize.Small">Small</option>
                  <option [value]="MinimapIconSize.Medium">Medium</option>
                  <option [value]="MinimapIconSize.Large">Large</option>
                </select>
              </div>
            </div>
            <span class="sep"></span>
            <div tabindex="-1" class="multiselect filter-select">
              <div class="multiselect__tags">
                <select [(ngModel)]="rule.cosmeticOptions!.minimapIconColor" (change)="updateFilter()" [disabled]="!rule.active || !rule.cosmeticOptions!.minimapIcon">
                  <option [value]="Color.Red">Red</option>
                  <option [value]="Color.Green">Green</option>
                  <option [value]="Color.Blue">Blue</option>
                  <option [value]="Color.Brown">Brown</option>
                  <option [value]="Color.White">White</option>
                  <option [value]="Color.Yellow">Yellow</option>
                  <option [value]="Color.Cyan">Cyan</option>
                  <option [value]="Color.Grey">Grey</option>
                  <option [value]="Color.Orange">Orange</option>
                  <option [value]="Color.Pink">Pink</option>
                  <option [value]="Color.Purple">Purple</option>
                </select>
              </div>
            </div>
            <span class="sep"></span>
            <div tabindex="-1" class="multiselect filter-select">
              <div class="multiselect__tags">
                <select [(ngModel)]="rule.cosmeticOptions!.minimapIconShape" (change)="updateFilter()" [disabled]="!rule.active || !rule.cosmeticOptions!.minimapIcon">
                  <option [value]="MinimapIconShape.Circle">Circle</option>
                  <option [value]="MinimapIconShape.Diamond">Diamond</option>
                  <option [value]="MinimapIconShape.Hexagon">Hexagon</option>
                  <option [value]="MinimapIconShape.Square">Square</option>
                  <option [value]="MinimapIconShape.Star">Star</option>
                  <option [value]="MinimapIconShape.Triangle">Triangle</option>
                  <option [value]="MinimapIconShape.Cross">Cross</option>
                  <option [value]="MinimapIconShape.Moon">Moon</option>
                  <option [value]="MinimapIconShape.Raindrop">Raindrop</option>
                  <option [value]="MinimapIconShape.Kite">Kite</option>
                  <option [value]="MinimapIconShape.Pentagon">Pentagon</option>
                  <option [value]="MinimapIconShape.UpsideDownHouse">Upside-down House</option>
                </select>
              </div>
            </div>
            <span class="sep"></span>
            }

            @if(rule.cosmeticOptions!.playEffect) {
            <div class="filter-title" style="width: 55px">
              Beam
            </div>
            <span class="sep"></span>
            <div tabindex="-1" class="multiselect filter-select">
              <div class="multiselect__tags">
                <select [(ngModel)]="rule.cosmeticOptions!.playEffectColor" (change)="updateFilter()" [disabled]="!rule.active || !rule.cosmeticOptions!.playEffect">
                  <option [value]="Color.Red">Red</option>
                  <option [value]="Color.Green">Green</option>
                  <option [value]="Color.Blue">Blue</option>
                  <option [value]="Color.Brown">Brown</option>
                  <option [value]="Color.White">White</option>
                  <option [value]="Color.Yellow">Yellow</option>
                  <option [value]="Color.Cyan">Cyan</option>
                  <option [value]="Color.Grey">Grey</option>
                  <option [value]="Color.Orange">Orange</option>
                  <option [value]="Color.Pink">Pink</option>
                  <option [value]="Color.Purple">Purple</option>
                </select>
              </div>
            </div>
            <span class="sep"></span>
            <span class="input-group-btn">
              <button class="btn toggle-btn" [class.off]="!rule.cosmeticOptions!.playEffectTemp" [class.disabled]="!rule.active || !rule.cosmeticOptions!.playEffect"
              (click)="rule.cosmeticOptions!.playEffectTemp = !rule.cosmeticOptions!.playEffectTemp; updateFilter();"></button>
            </span>
            <span class="sep"></span>
            <div class="filter-title filter-label" [class.disabled]="!rule.active || !rule.cosmeticOptions!.playEffect">
              Temp
            </div>
            }
          </span>
        </div>
        }

        @if(rule.cosmeticOptions!.labelStyle) {
        <div class="filter filter-padded">
          <span class="filter-body">
            <div class="filter-title" style="width: 55px">
              Label
            </div>
            <span class="sep"></span>
            <span class="input-group-btn">
              <button class="btn toggle-btn" [class.off]="!rule.active || !rule.cosmeticOptions!.backgroundColor" (click)="toggleBackgroundColor(rule)"></button>
            </span>
            <span class="sep"></span>
            <div class="filter-title filter-label color-picker-label" [class.disabled]="!rule.active || !rule.cosmeticOptions!.backgroundColor"
              style="width: 135px !important">

              <input type="text" maxlength="9" pattern="#[0-9a-fA-F]*" class="form-control minmax color-picker-dot"
                [disabled]="!rule.cosmeticOptions!.backgroundColor"
                [(colorPicker)]="rule.cosmeticOptions!.backgroundColor!" [style.background]="rule.cosmeticOptions!.backgroundColor"
                cpOutputFormat="rgba" cpAlphaChannel="forced"
                (ngModelChanged)="rule.cosmeticOptions!.backgroundColor" (colorPickerSelect)="updateFilter()">

              <div class="color-picker-label-text">Background</div>
            </div>
            <span class="sep"></span>
            <span class="input-group-btn">
              <button class="btn toggle-btn" [class.off]="!rule.active || !rule.cosmeticOptions!.borderColor" (click)="toggleBorderColor(rule)"></button>
            </span>
            <span class="sep"></span>
            <div class="filter-title filter-label color-picker-label" [class.disabled]="!rule.active || !rule.cosmeticOptions!.borderColor"
              style="width: 100px !important">

              <input type="text" maxlength="9" pattern="#[0-9a-fA-F]*" class="form-control minmax color-picker-dot"
                [disabled]="!rule.cosmeticOptions!.borderColor"
                [(colorPicker)]="rule.cosmeticOptions!.borderColor!" [style.background]="rule.cosmeticOptions!.borderColor"
                cpOutputFormat="rgba" cpAlphaChannel="enabled"
                (ngModelChanged)="rule.cosmeticOptions!.borderColor" (colorPickerSelect)="updateFilter()">

              <div class="color-picker-label-text">Border</div>
            </div>
            <span class="sep"></span>
            <span class="input-group-btn">
              <button class="btn toggle-btn" [class.off]="!rule.active || !rule.cosmeticOptions!.textColor" (click)="toggleTextColor(rule)"></button>
            </span>
            <span class="sep"></span>
            <div class="filter-title filter-label color-picker-label" [class.disabled]="!rule.active || !rule.cosmeticOptions!.textColor"
              style="width: 80px !important">

              <input type="text" maxlength="9" pattern="#[0-9a-fA-F]*" class="form-control minmax color-picker-dot"
                [disabled]="!rule.cosmeticOptions!.textColor"
                [(colorPicker)]="rule.cosmeticOptions!.textColor!" [style.background]="rule.cosmeticOptions!.textColor"
                cpOutputFormat="rgba" cpAlphaChannel="enabled"
                (ngModelChanged)="rule.cosmeticOptions!.textColor" (colorPickerSelect)="updateFilter()">

              <div class="color-picker-label-text">Text</div>
            </div>
            <span class="sep"></span>
            <span class="input-group-btn">
              <button class="btn toggle-btn" [class.off]="!rule.active || !rule.cosmeticOptions!.fontSize" (click)="toggleFontSize(rule)"></button>
            </span>
            <span class="sep"></span>
            <div class="filter-title filter-label" [class.disabled]="!rule.active || !rule.cosmeticOptions!.fontSize">
              Size
            </div>
            <span class="sep"></span>
            <div tabindex="-1" class="multiselect filter-select" style="min-width: 100px;">
              <div class="multiselect__tags">
                <select [(ngModel)]="rule.cosmeticOptions!.fontSize" (change)="updateFilter()" [disabled]="!rule.active || !rule.cosmeticOptions!.fontSize">
                  <option [value]="LabelSize.Smallest">Smallest</option>
                  <option [value]="LabelSize.Smaller">Smaller</option>
                  <option [value]="LabelSize.Small">Small</option>
                  <option [value]="LabelSize.Normal">Normal</option>
                  <option [value]="LabelSize.Large">Large</option>
                  <option [value]="LabelSize.Larger">Larger</option>
                  <option [value]="LabelSize.Largest">Largest</option>
                </select>
              </div>
            </div>
            <!-- <input type="number" placeholder="min" maxlength="2" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax"
              [class.disabled]="!rule.active || !rule.cosmeticOptions!.fontSize"
              [(ngModel)]="rule.cosmeticOptions!.fontSize!" (change)="updateFilter()"> -->
            <span class="sep"></span>
            @if(rule.itemClass === 'Stackable Currency') {
            <div class="filter-title style-example" [class.disabled]="!rule.active" [style]="getCurrencyStyle(rule.cosmeticOptions!)">
              {{ rule.baseTypes.length > 0 && !rule.baseTypes.includes('All') ? rule.baseTypes[0] : 'Divine Orb' }}
            </div>
            } @else {
            <div class="filter-title style-example" [class.disabled]="!rule.active" [style]="getItemStyle(rule.cosmeticOptions!)">
              {{ rule.baseTypes.length > 0 && !rule.baseTypes.includes('All') ? rule.baseTypes[0] : 'Crude Bow' }}
            </div>
            }
          </span>
        </div>
        }
        }

        <div class="filter filter-padded">
          <button type="button" class="btn clear-btn" style="width: 100%;" (click)="addCustomCosmeticRule()">
            Add Cosmetic Rule
          </button>
        </div>

      </div>

      <div class="clear"></div>
    </div>

  </div>

</div>
