<div class="wrapper">
  <div id="statusBar">
    <div class="statusBarCenter"></div>
    <div class="statusBarRight"></div>
  </div>
  <div class="logo">
    <a href="https://poe2filter.com">
      <img src="/logo-filter.png">
    </a>
  </div>

  <div id="trade" class="block">
    <div class="navigation">
      <ul role="tablist" class="nav nav-tabs main">
        <li role="presentation" class="menu-tab menu-quick-filter" [class.active]="tab === 'quickFilters'">
          <a (click)="tab = 'quickFilters'">
            <span>Quick Filters</span>
          </a>
        </li>
        <li role="presentation" class="menu-tab menu-cosmetic" [class.active]="tab === 'cosmetic'">
          <a (click)="tab = 'cosmetic'">
            <span>Cosmetic</span>
          </a>
        </li>
        <li role="presentation" class="menu-tab menu-custom-rules" [class.active]="tab === 'customRules'">
          <a (click)="tab = 'customRules'">
            <span>Custom Rules</span>
          </a>
        </li>
        <li role="presentation" class="menu-tab menu-advanced-rules" [class.active]="tab === 'freeRules'">
          <a (click)="tab = 'freeRules'">
            <span>Free Rules</span>
          </a>
        </li>
      </ul>
      <ul role="tablist" class="nav nav-tabs account">
        <li role="presentation" class="menu-about">
        </li>
        <li role="presentation" class="menu-settings">
        </li>
      </ul>
    </div>
    <div class="top">
      <div class="search-panel">
        <div class="search-bar search-advanced">
          @if(tab === 'quickFilters') {
          <app-quick-filter-tab
            [filter]="filter"
            [filterResetWarning]="filterResetWarning"
            [dynamicWaystoneThresholds]="dynamicWaystoneThresholds"
            [dynamicSkillGemThresholds]="dynamicSkillGemThresholds"
            [dynamicSupportGemThresholds]="dynamicSupportGemThresholds"
            (updateFilter)="updateFilter()">
          </app-quick-filter-tab>
          } @else if (tab === 'cosmetic') {
            <app-cosmetic-tab
              [filter]="filter"
              (updateFilter)="updateFilter()">
            </app-cosmetic-tab>
          } @else if (tab === 'customRules') {
            <app-custom-rules-tab
              [filter]="filter"
              (updateFilter)="updateFilter()">
            </app-custom-rules-tab>
          } @else if (tab === 'freeRules') {
            <app-free-rules-tab
              [filter]="filter"
              (updateFilter)="updateFilter()">
            </app-free-rules-tab>
          }
        </div>
        <div class="controls">
          <div class="controls-left hide-on-md">
            <button type="button" class="btn export-import-button" (click)="import()">
              Import
            </button>
          </div>
          <div class="controls-center">
            <button type="button" class="btn download-btn" (click)="download()">
              Download
            </button>

            <button type="button" class="btn copy-btn" (click)="copyToClipboard()">
              {{ copyText }}
            </button>
          </div>
          <div class="controls-right">
            <button type="button" class="btn export-import-button show-on-md" (click)="import()">
              Import
            </button>
            <button type="button" class="btn clear-btn" (click)="clear()">
              Reset
            </button>
            <!-- <button type="button" class="btn toggle-search-btn">
              <span alt="Toggle" class="chevron"></span>
              Hide Filters
            </button> -->
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>

    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>

@if(importFilterError) {
<div class="results block">
  <div class="row row-total row-justify-content-left">
    <div class="info">
      <h2 class="info-title">Error importing filter</h2>
      <p>Make sure you're importing a filter file which was exported through this tool, and of the correct version: {{ filterVersion }}.</p>
      <p><strong>Error:</strong></p>
      <textarea class="filter-output" style="height: unset; width: 100%;">{{ importFilterError }}</textarea>
      <div class="close-info-btn" (click)="importFilterError = null">✕</div>
    </div>
  </div>
</div>
}

@if(importFilterSuccess) {
<div class="results block">
  <div class="row row-total row-justify-content-left">
    <div class="info">
      <h2 class="info-title">Filter imported successfully!</h2>
      <p>Imported filter which was exported on {{ importFilterExportDate }} using v{{ importFilterExportVersion }}.</p>
      <div class="close-info-btn" (click)="importFilterSuccess = false">✕</div>
    </div>
  </div>
</div>
}

@if(showTierWarning) {
<div class="results block">
  <div class="row row-total row-justify-content-left">
    <div class="info">
      <h2 class="info-title">Warning! Filtering on <strong>Unidentified Item Tiers</strong> is currently not supported by GGG!</h2>
      If you're hiding Magic or Rare Items, they will be hidden even if they are Tiered.
      Therefore, <strong>after defeating a boss</strong> or rare monster, quickly <strong>check</strong> whether they dropped any Magic Item with an Unidentified Tier.
      <div class="close-info-btn" (click)="hideTierWarning()">✕</div>
    </div>
  </div>
</div>
}

<div class="results block output">
  <div class="row row-total">
    <h3>
      Filter output
    </h3>
    <!-- <button title="Default" class="layout-btn layout-immersion"></button>
    <button title="Compact" class="layout-btn layout-compact"></button>
    <button title="Compact Two-Columned" class="layout-btn layout-compact-two"></button> -->
  </div>

  <textarea class="filter-output" [disabled]="true">
{{filterText}}
  </textarea>
</div>

<span class="version">v{{ filterVersion }}</span>
