<div class="container-fluid full" id="app">
  <div class="content">
    <div class="wrapper">
      <div id="statusBar">
        <div class="statusBarCenter"></div>
        <div class="statusBarRight"></div>
      </div>
      <div class="logo">
        <a href="https://poe2filter.com">
          <img src="/logo-filter.png">
        </a>
      </div>
      <div id="trade" class="block">
        <div class="top">
          <div class="search-panel">
            <div class="search-bar search-advanced">
              <div class="search-advanced-items">
                <div class="search-advanced-pane blue">

                  <div class="filter-group expanded">
                    <div class="filter-group-header">
                      <div class="filter">
                        <span class="filter-body">
                          <span class="filter-title">
                            <span>General Filters</span>
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="filter-group-body">

                      <div class="filter filter-property full-span" [class.disabled]="!filter.hideFlasks">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn" [class.off]="!filter.hideFlasks" (click)="toggleHideFlasks()"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            Hide Flasks
                          </div>
                          <!-- <span class="sep"></span>
                          <div tabindex="-1" class="multiselect filter-select" style="width: 271px;">
                            <div class="multiselect__tags">
                              <select [disabled]="!filter.hideFlasks">
                                <option value="All">All</option>
                              </select>
                            </div>
                          </div> -->
                        </span>
                      </div>

                      <div class="filter filter-property full-span" [class.disabled]="!filter.hideScrolls">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn" [class.off]="!filter.hideScrolls" (click)="toggleHideScrolls()"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            Hide Scrolls of Wisdom
                          </div>
                        </span>
                      </div>

                      <div class="filter full-span" [class.disabled]="!filter.hideJewellery">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn" [class.off]="!filter.hideJewellery" (click)="toggleHideJewellery()"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            <span>Hide Jewellery Lower Than</span>
                          </div>
                          <span class="sep"></span>
                          <input type="number" placeholder="max" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax"
                            [disabled]="!filter.hideJewellery" [(ngModel)]="filter.hideJewelleryLowerThan" (change)="updateFilter()">
                        </span>
                      </div>

                      <div class="filter filter-property full-span" [class.disabled]="!filter.hideNormalAndRareItems">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn" [class.off]="!filter.hideNormalAndRareItems" (click)="toggleHideNormalAndRareItems()"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            Hide Normal And Rare Items
                          </div>
                        </span>
                      </div>

                    </div>

                    <div class="clear"></div>
                  </div>

                  <div class="filter-group expanded">
                    <div class="filter-group-header">
                      <div class="filter">
                        <span class="filter-body">
                          <span class="filter-title">
                            <span>General Highlights</span>
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="filter-group-body">

                      <div class="filter filter-property full-span" [class.disabled]="!filter.showUniques">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn" [class.off]="!filter.showUniques" (click)="toggleShowUniques()"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            Highlight Uniques
                          </div>
                        </span>
                      </div>

                      <div class="filter filter-property full-span" [class.disabled]="!filter.showRareJewellery">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn" [class.off]="!filter.showRareJewellery" (click)="toggleShowRareJewellery()"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            Highlight Rare Jewellery
                          </div>
                        </span>
                      </div>

                      <div class="filter filter-property full-span" [class.disabled]="!filter.showSocketedItems">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn" [class.off]="!filter.showSocketedItems" (click)="toggleShowSocketedItems()"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            Show Socketed Items
                          </div>
                          <span class="sep"></span>
                          <div tabindex="-1" class="multiselect filter-select" style="width: 271px;">
                            <div class="multiselect__tags">
                              <select [disabled]="!filter.showSocketedItems" [(ngModel)]="filter.showSocketedItemsType" (change)="updateFilter()">
                                <option [value]="SocketedItemType.All">All</option>
                                <option [value]="SocketedItemType.TwoOrMoreSockets">2 Sockets</option>
                              </select>
                            </div>
                          </div>
                        </span>
                      </div>

                      <div class="filter filter-property full-span" [class.disabled]="!filter.showQualityItems">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn" [class.off]="!filter.showQualityItems" (click)="toggleShowQualityItems()"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            Show Quality Items
                          </div>
                          <span class="sep"></span>
                          <div tabindex="-1" class="multiselect filter-select" style="width: 271px;">
                            <div class="multiselect__tags">
                              <select [disabled]="!filter.showQualityItems" [(ngModel)]="filter.showQualityItemsType" (change)="updateFilter()">
                                <option value="All">All</option>
                                <option value="MinimumTenQuality">> 10 Quality</option>
                              </select>
                            </div>
                          </div>
                        </span>
                      </div>

                      <div class="filter full-span" [class.disabled]="!filter.showUltimateLifeFlasks">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn" [class.off]="!filter.showUltimateLifeFlasks" (click)="toggleShowUltimateLifeFlasks()"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            <span>Show Quality Ultimate Life Flasks</span>
                          </div>
                          <span class="sep"></span>
                          <input type="number" value="10" placeholder="min" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax"
                            [disabled]="!filter.showUltimateLifeFlasks"  [(ngModel)]="filter.showUltimateLifeFlasksMinQuality" (change)="updateFilter()">
                        </span>
                      </div>
                    </div>

                    <div class="clear"></div>
                  </div>

                </div>

                <div class="search-advanced-pane blue">

                  <div class="filter-group expanded">
                    <div class="filter-group-header">
                      <div class="filter">
                        <span class="filter-body">
                          <div class="filter-title">
                            Show Weapon Types
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="filter-group-body">

                      @for (weapon of filter.weaponFilters; track $index) {
                      <div class="filter full-span">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn" [class.off]="!weapon.show" (click)="toggleShowWeapon($index)"></button>
                        </span>
                        <span class="filter-body">
                          <div tabindex="-1" class="multiselect filter-select">
                            <div class="multiselect__tags">
                              <select [(ngModel)]="weapon.weaponType" (change)="updateFilter()" [disabled]="!weapon.show">
                                <option [value]="WeaponType.Bows">Bows</option>
                                <option [value]="WeaponType.OneHandMaces">One Hand Maces</option>
                                <option [value]="WeaponType.Quivers">Quivers</option>
                                <option [value]="WeaponType.Sceptres">Sceptres</option>
                                <option [value]="WeaponType.Staves">Staves</option>
                                <option [value]="WeaponType.TwoHandMaces">Two Hand Maces</option>
                                <option [value]="WeaponType.Wands">Wands</option>
                                <option [value]="WeaponType.QuarterStaves">QuarterStaves</option>
                              </select>
                            </div>
                          </div>
                          <span class="sep"></span>
                          <div tabindex="-1" class="multiselect filter-select" style="width: 271px;">
                            <div class="multiselect__tags">
                              <select [(ngModel)]="weapon.weaponTier" (change)="updateFilter()" [disabled]="!weapon.show">
                                <option [value]="WeaponTier.ExpertOnly">Expert only</option>
                                <option [value]="WeaponTier.AdvancedAndExpert">Advanced only</option>
                                <option [value]="WeaponTier.All">All</option>
                              </select>
                            </div>
                          </div>
                        </span>
                        <span class="input-group-btn">
                          <button class="btn remove-btn" (click)="removeWeaponType($index)"></button>
                        </span>
                      </div>
                      }

                      <div class="filter filter-padded">
                        <button type="button" class="btn clear-btn" style="width: 100%;" (click)="addWeaponType()">
                          <span>Add Weapon Type</span>
                        </button>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>

                  <div class="filter-group expanded">
                    <div class="filter-group-header">
                      <div class="filter">
                        <span class="filter-body">
                          <div class="filter-title">
                            Show Base Armour Types
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="filter-group-body">

                      <div class="filter full-span">
                        <span class="input-group-btn">
                          <button  class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            <span>Body Armour</span>
                          </div>
                          <span class="sep"></span>
                          <input type="number" placeholder="Arm" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="ES" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="Eva" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                        </span>
                      </div>

                      <div class="filter full-span">
                        <span class="input-group-btn">
                          <button  class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            <span>Helmet</span>
                          </div>
                          <span class="sep"></span>
                          <input type="number" placeholder="Arm" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="ES" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="Eva" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                        </span>
                      </div>

                      <div class="filter full-span">
                        <span class="input-group-btn">
                          <button  class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            <span>Gloves</span>
                          </div>
                          <span class="sep"></span>
                          <input type="number" placeholder="Arm" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="ES" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="Eva" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                        </span>
                      </div>

                      <div class="filter full-span">
                        <span class="input-group-btn">
                          <button  class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            <span>Boots</span>
                          </div>
                          <span class="sep"></span>
                          <input type="number" placeholder="Arm" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="ES" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="Eva" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                        </span>
                      </div>

                    </div>
                    <div class="clear"></div>
                  </div>

                </div>
              </div>
            </div>
            <div class="controls">
              <div class="controls-left">
                <!-- <button type="button" class="btn livesearch-btn">
                  <span class="plus"></span>
                  <span>Activate Live Search</span>
                </button> -->
              </div>
              <div class="controls-center">
                <button type="button" class="btn search-btn" (click)="download()">
                  <span>Download</span>
                </button>
              </div>
              <div class="controls-right">
                <button type="button" class="btn clear-btn"><span>Clear</span></button>
                <!-- <button type="button" class="btn toggle-search-btn">
                  <span alt="Toggle" class="chevron"></span>
                  <span>Hide Filters</span>
                </button> -->
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>

        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="results block">
      <div class="row row-total">
        <h3>Filter output</h3>
        <!-- <button title="Default" class="layout-btn layout-immersion"></button>
        <button title="Compact" class="layout-btn layout-compact"></button>
        <button title="Compact Two-Columned" class="layout-btn layout-compact-two"></button> -->
      </div>

      <textarea class="filter-output">
{{filterText}}
      </textarea>
    </div>

    <div class="bottom">
      <span class="copyright">
        This website is in no way affeliated with GGG. I'm making and updating this website in my spare time. You can support me by <a href="https://gofund.me/cf875b64" target="_blank">donating</a>!
      </span>
      <br>
    </div>
  </div>
</div>
