.copy-btn {
  color: #e2e2e2;
  background-color: #1e2124;
  position: relative;
  padding: 6px;
  line-height: 16px;
  min-height: 34px;
  min-width: 34px;
  min-width: 96px;
  margin-left: 12px;

  &:hover {
    background-color: #2d3136;
  }
}

.download-btn, .copy-btn  {
  width: calc(50% - 12px);
}

.download-btn  {
  width: calc(50% - 12px);
  background-color: #0f304d !important;
  border-color: #4c4c7d !important;
}

#trade .controls .clear-button {
  min-width: 80px !important;
}

#trade .controls .export-import-button {
  min-width: 80px;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .col-md-3, #trade .controls .controls-left, #trade .controls .controls-right {
      width: 25% !important;
  }

  .col-md-6, #trade .controls .controls-center {
      width: 50% !important;;
  }
}

@media (max-width: 767px) {
  #trade .controls .download-btn, #trade .controls .copy-btn {
      margin-bottom: 5px;
  }
}
@media (max-width: 1199px) {
  #trade .controls .download-btn, #trade .controls .copy-btn {
      min-width: auto;
  }
}

@media (max-width: 767px) {
  #trade .controls .clear-btn, #trade .controls .export-import-button {
      float: unset;
      margin-right: 5px; /* No idea why this is required */
  }
}

.nav-tabs .menu-tab:not(.active) {
  cursor: pointer;
}

.nav-tabs .menu-tab > a {
  height: 32px;
}

.nav-tabs .menu-tab > a::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
}

.nav-tabs .menu-quick-filter > a::before {
  background: url(/trade.png?v=1733975490307&key=nIFEZiE4lkptZMARNY-yNQ) no-repeat;
  background-position: -282px -200px;
  height: 18px;
  width: 18px;
}

.nav-tabs .menu-advanced-rules > a::before {
  background: url(/trade.png?v=1733975490307&key=nIFEZiE4lkptZMARNY-yNQ) no-repeat;
  background-position: -168px -200px;
  height: 18px;
  width: 18px;
}

.nav-tabs .menu-custom-rules > a::before {
  background: url(/trade.png?v=1733975490307&key=nIFEZiE4lkptZMARNY-yNQ) no-repeat;
  background-position: -164px -229px;
  height: 18px;
  width: 18px;
}

.nav-tabs .menu-cosmetic > a::before {
  background: url(/trade.png?v=1733975490307&key=nIFEZiE4lkptZMARNY-yNQ) no-repeat;
  background-position: -148px -200px;
  height: 18px;
  width: 18px;
}

.nav-tabs.main {
  width: 100% !important;
  padding: 0;
}

.nav-tabs.account {
  width: 0% !important;
  padding: 0;
}

.version {
  position: fixed;
  bottom: 8px;
  right: 16px;
  color: #444;
}
