select {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 4px 7px;
}

select option {
  background: rgb(30, 33, 36);
  border: none;
}

select[disabled] {
  opacity: 0.6;
}

.copy-btn {
  color: #e2e2e2;
  background-color: #1e2124;
  position: relative;
  padding: 6px;
  line-height: 16px;
  min-height: 34px;
  min-width: 34px;
  min-width: 96px;
  margin-left: 12px;

  &:hover {
    background-color: #2d3136;
  }
}

textarea.filter-output, textarea.custom-rules {
  background-color: #000;
  padding: 8px;
  width: 100%;
  height: 300px;
  outline: none;
  border: none;
  font-family: monospace;
  font-size: 13px;
}

textarea.custom-rules {
  background-color: rgba(45, 49, 54, .3);
  height: 200px;
}

.filter-body-no-checkbox {
  padding-left: 39px;
  width: 100%;
}

.threshold-set {
  display: flex;
  gap: 3px;
  height: 30px;
  width: 100%;
  cursor: default;
}

.threshold-label {
  flex: 50%;
  text-align: right;
  align-content: center;
  padding-right: 12px;
  color: #fff8e1;
}

.threshold-values {
  flex: 50%;
  display: flex;
  gap: 3px;
  height: 30px;
  width: 100%;
  cursor: default;
}

.threshold {
  text-align: center;
  flex: 1;
  font-size: 13px;
  line-height: 22px;
  color: #fff;
  background: #1e2124;
  padding: 5px;

  .dot {
    position: absolute;

    &::after {
      content: " •";
      opacity: 0.6;
      font-size: 300%;
      vertical-align: baseline;
      line-height: 18px;
      margin-left: 8px;
    }
  }
}

.tier-hidden {
  background-color: #1d1d1d !important;
  opacity: 0.3 !important;
}

.tier-shown {
}

.tier-white {
  background-color: rgba(255, 255, 255, 0.301);
  .dot::after {
    color: white;
  }
}

.tier-yellow {
  background-color: rgba(255, 255, 0, 0.226);
  .dot::after {
    color: yellow;
  }
}

.tier-orange {
  background-color: rgba(255, 145, 0, 0.281);
  .dot::after {
    color: orangered;
  }
}

.tier-brown {
  background-color: rgba(173, 81, 20, 0.274);
  .dot::after {
    color: brown;
  }
}

.download-btn, .copy-btn  {
  width: calc(50% - 12px);
}

.download-btn  {
  width: calc(50% - 12px);
  background-color: #0f304d !important;
  border-color: #4c4c7d !important;
}

#trade .controls .clear-button {
  min-width: 80px !important;
}

#trade .controls .export-import-button {
  min-width: 80px;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .col-md-3, #trade .controls .controls-left, #trade .controls .controls-right {
      width: 25% !important;
  }

  .col-md-6, #trade .controls .controls-center {
      width: 50% !important;;
  }
}

@media (max-width: 767px) {
  #trade .controls .download-btn, #trade .controls .copy-btn {
      margin-bottom: 5px;
  }
}
@media (max-width: 1199px) {
  #trade .controls .download-btn, #trade .controls .copy-btn {
      min-width: auto;
  }
}

@media (max-width: 767px) {
  #trade .controls .clear-btn, #trade .controls .export-import-button {
      float: unset;
      margin-right: 5px; /* No idea why this is required */
  }
}

.nav-tabs .menu-tab:not(.active) {
  cursor: pointer;
}

.nav-tabs .menu-tab > a {
  height: 32px;
}

.nav-tabs .menu-tab > a::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
}

.nav-tabs .menu-quick-filter > a::before {
  background: url(/trade.png?v=1733975490307&key=nIFEZiE4lkptZMARNY-yNQ) no-repeat;
  background-position: -282px -200px;
  height: 18px;
  width: 18px;
}

.nav-tabs .menu-advanced-rules > a::before {
  background: url(/trade.png?v=1733975490307&key=nIFEZiE4lkptZMARNY-yNQ) no-repeat;
  background-position: -168px -200px;
  height: 18px;
  width: 18px;
}

.nav-tabs .menu-custom-rules > a::before {
  background: url(/trade.png?v=1733975490307&key=nIFEZiE4lkptZMARNY-yNQ) no-repeat;
  background-position: -164px -229px;
  height: 18px;
  width: 18px;
}

.nav-tabs .menu-cosmetic > a::before {
  background: url(/trade.png?v=1733975490307&key=nIFEZiE4lkptZMARNY-yNQ) no-repeat;
  background-position: -148px -200px;
  height: 18px;
  width: 18px;
}

.reset-font {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

.nav-tabs.main {
  width: 100% !important;
  padding: 0;
}

.nav-tabs.account {
  width: 0% !important;
  padding: 0;
}

.toggle-button {
  height: 30px;
  border: none !important;
  background-color: #090a0a !important;
  margin-right: 4px;

  &.active {
    background-color: #45494e !important;
  }

  &:hover {
    background-color: #2d3136 !important;
  }

  &:last-child {
    margin-right: 0;
  }
}

.color-picker-dot {
  min-width: 18px !important;
  width: 18px !important;
  height: 18px !important;
  max-width: 18px !important;
  border-radius: 50% !important;
  margin: 0px !important;
  padding: 0px !important;
  margin-right: 8px !important;
  cursor: pointer;
}

.color-picker-label {
  text-align: left !important;
}

.color-picker-label-text {
  margin-top: 1px;
  margin-bottom: -1px;
}

.style-example {
  width: unset;
  text-align: center;
}

::ng-deep .color-picker {
  background-color: #1e2124 !important;
}

::ng-deep .color-picker .hex-text {
  display: none !important;
}

.version {
  position: fixed;
  bottom: 8px;
  right: 16px;
  color: #444;
}
