<div class="container-fluid full" id="app">
  <div class="content">
    <div class="wrapper">
      <div id="statusBar">
        <div class="statusBarCenter"></div>
        <div class="statusBarRight"></div>
      </div>
      <div class="logo">
        <a href="https://poe2filter.com">
          <img src="/logo2.png">
        </a>
      </div>
      <div id="trade" class="block">
       <!-- <div>
          <div class="toast-container toast-top-center"></div>
          <div class="toast-container toast-bottom-center"></div>
        </div>
        <div class="loader" style="display: none;">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <button title="Back to Top" class="top-btn"></button> -->
        <div class="top">
          <div class="search-panel">
            <div class="search-bar search-advanced">
              <div class="search-advanced-items">
                <div class="search-advanced-pane blue">

                  <div class="filter-group expanded">
                    <div class="filter-group-header">
                      <div class="filter">
                        <span class="filter-body">
                          <span class="filter-title">
                            <span>General Filters</span>
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="filter-group-body">

                      <div class="filter filter-property full-span">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            Hide Flasks
                          </div>
                          <span class="sep"></span>
                          <div tabindex="-1" class="multiselect filter-select" style="width: 271px;">
                            <div class="multiselect__tags">
                              <select>
                                <option value="All">All</option>
                              </select>
                            </div>
                          </div>
                        </span>
                      </div>

                      <div class="filter filter-property full-span">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            Hide Scrolls of Wisdom
                          </div>
                        </span>
                      </div>

                      <div class="filter full-span">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            <span>Hide Jewellery Lower Than</span>
                          </div>
                          <span class="sep"></span>
                          <input value="60" type="number" placeholder="max" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                        </span>
                      </div>

                      <div class="filter filter-property full-span">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            Hide Normal And Rare Items
                          </div>
                        </span>
                      </div>

                      <!-- <div class="filter filter-property">
                        <span class="filter-body">
                          <div class="filter-title"> Item Level</div>
                          <span class="sep"></span>
                          <input type="number" placeholder="min" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="max" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                        </span>
                      </div>

                      <div class="filter filter-property spaced">
                        <span class="filter-body">
                          <div class="filter-title">
                            Item Quality
                          </div>
                          <span class="sep"></span>
                          <input type="number" placeholder="min" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="max" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                        </span>
                      </div> -->

                    </div>

                    <div class="clear"></div>
                  </div>

                  <div class="filter-group expanded">
                    <div class="filter-group-header">
                      <div class="filter">
                        <span class="filter-body">
                          <span class="filter-title">
                            <span>General Highlights</span>
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="filter-group-body">

                      <div class="filter filter-property full-span">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            Highlight Uniques
                          </div>
                        </span>
                      </div>

                      <div class="filter filter-property full-span">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            Highlight Rare Jewellery
                          </div>
                        </span>
                      </div>

                      <div class="filter filter-property full-span">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            Show Socketed Items
                          </div>
                          <span class="sep"></span>
                          <div tabindex="-1" class="multiselect filter-select" style="width: 271px;">
                            <div class="multiselect__tags">
                              <select>
                                <option value="All">All</option>
                                <option value="All">2 Sockets</option>
                              </select>
                            </div>
                          </div>
                        </span>
                      </div>

                      <div class="filter filter-property full-span">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            Show Quality Items
                          </div>
                          <span class="sep"></span>
                          <div tabindex="-1" class="multiselect filter-select" style="width: 271px;">
                            <div class="multiselect__tags">
                              <select>
                                <option value="All">All</option>
                                <option value="All">> 10 Quality</option>
                              </select>
                            </div>
                          </div>
                        </span>
                      </div>

                      <div class="filter full-span">
                        <span class="input-group-btn">
                          <button class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            <span>Show Quality Ultimate Life Flasks</span>
                          </div>
                          <span class="sep"></span>
                          <input type="number" value="10" placeholder="min" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                        </span>
                      </div>
                    </div>

                    <div class="clear"></div>
                  </div>

                </div>

                <div class="search-advanced-pane blue">

                  <div class="filter-group expanded">
                    <div class="filter-group-header">
                      <div class="filter">
                        <span class="filter-body">
                          <div class="filter-title">
                            Show Weapon Types
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="filter-group-body">

                      <div class="filter full-span">
                        <span class="input-group-btn">
                          <button  class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            <span>Crossbows</span>
                          </div>
                          <span class="sep"></span>
                          <div tabindex="-1" class="multiselect filter-select" style="width: 271px;">
                            <div class="multiselect__tags">
                              <select>
                                <option value="All">Expert only</option>
                                <option value="All">Advanced only</option>
                                <option value="All">All</option>
                              </select>
                            </div>
                          </div>
                        </span>
                        <span class="input-group-btn">
                          <button class="btn remove-btn"></button>
                        </span>
                      </div>

                      <div class="filter filter-padded">
                          <button type="button" class="btn clear-btn" style="width: 100%;"><span>Add Weapon Type</span></button>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>

                  <div class="filter-group expanded">
                    <div class="filter-group-header">
                      <div class="filter">
                        <span class="filter-body">
                          <div class="filter-title">
                            Show Base Armour Types
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="filter-group-body">

                      <div class="filter full-span">
                        <span class="input-group-btn">
                          <button  class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            <span>Body Armour</span>
                          </div>
                          <span class="sep"></span>
                          <input type="number" placeholder="Arm" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="ES" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="Eva" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                        </span>
                      </div>

                      <div class="filter full-span">
                        <span class="input-group-btn">
                          <button  class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            <span>Helmet</span>
                          </div>
                          <span class="sep"></span>
                          <input type="number" placeholder="Arm" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="ES" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="Eva" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                        </span>
                      </div>

                      <div class="filter full-span">
                        <span class="input-group-btn">
                          <button  class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            <span>Gloves</span>
                          </div>
                          <span class="sep"></span>
                          <input type="number" placeholder="Arm" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="ES" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="Eva" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                        </span>
                      </div>

                      <div class="filter full-span">
                        <span class="input-group-btn">
                          <button  class="btn toggle-btn"></button>
                        </span>
                        <span class="filter-body">
                          <div class="filter-title">
                            <span>Boots</span>
                          </div>
                          <span class="sep"></span>
                          <input type="number" placeholder="Arm" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="ES" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                          <span class="sep"></span>
                          <input type="number" placeholder="Eva" maxlength="4" pattern="[0-9.,]*" inputmode="numeric" step="any" class="form-control minmax">
                        </span>
                      </div>

                    </div>
                    <div class="clear"></div>
                  </div>

                </div>
              </div>
            </div>
            <div class="controls">
              <div class="controls-left">
                <!-- <button type="button" class="btn livesearch-btn">
                  <span class="plus"></span>
                  <span>Activate Live Search</span>
                </button> -->
              </div>
              <div class="controls-center">
                <button type="button" class="btn search-btn">
                  <span>Download</span>
                </button>
              </div>
              <div class="controls-right">
                <button type="button" class="btn clear-btn"><span>Clear</span></button>
                <!-- <button type="button" class="btn toggle-search-btn">
                  <span alt="Toggle" class="chevron"></span>
                  <span>Hide Filters</span>
                </button> -->
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>

        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="results block">
      <div class="row row-total">
        <h3>Filter output</h3>
        <!-- <button title="Default" class="layout-btn layout-immersion"></button>
        <button title="Compact" class="layout-btn layout-compact"></button>
        <button title="Compact Two-Columned" class="layout-btn layout-compact-two"></button> -->
      </div>

      <textarea class="filter-output">
#######################################################
##### Always show
#######################################################

Show
  Rarity Unique
  PlayEffect Brown
  MinimapIcon 2 Brown Cross

Show
  Class "Amulet" "Ring" "Belt"
    Rarity >= Magic
    ItemLevel >= 60
      </textarea>
    </div>

    <div class="bottom">
      <!-- <span class="copyright">
      </span> -->
      <br>
    </div>
  </div>
</div>
