select {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 4px 7px;
}

select option {
  background: rgb(30, 33, 36);
  border: none;
}

select[disabled] {
  opacity: 0.6;
}

.block {
  min-height: unset;
  position: relative;
  max-width: 1520px;
  margin: 0 auto 12px;
}

.row-justify-content-left {
  justify-content: left !important;
}

.last-block {
  margin-bottom: 60px;
}

.info {
  padding: 8px 16px;

  .close-info-btn {
    position: absolute;
    right: 16px;
    top: 8px;
    cursor: pointer;
    opacity: 0.6;
    font-weight: bold;

    &:hover {
      opacity: 1;
    }
  }
}

.info-title {
  margin-bottom: 6px;

  &.bigger {
    font-size: 150%;
    margin-bottom: 12px;
  }
}

#trade {
  margin-bottom: 12px;
}

.copy-btn {
  color: #e2e2e2;
  background-color: #1e2124;
  position: relative;
  padding: 6px;
  line-height: 16px;
  min-height: 34px;
  min-width: 34px;
  min-width: 96px;
  margin-left: 12px;

  &:hover {
    background-color: #2d3136;
  }
}

textarea.filter-output, textarea.custom-rules {
  background-color: #000;
  padding: 8px;
  width: 100%;
  height: 300px;
  outline: none;
  border: none;
  font-family: monospace;
  font-size: 13px;
}

textarea.custom-rules {
  background-color: rgba(45, 49, 54, .3);
  height: 200px;
}

.results .row,.results #trade .search-bar,#trade .results .search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  margin: 0;
  opacity: 1;
  background-color: rgba(10,10,10,.8);
  position: relative;
  transition: opacity .5s
}

.results .row h2,.results #trade .search-bar h2,#trade .results .search-bar h2,.results .row h3,.results #trade .search-bar h3,#trade .results .search-bar h3 {
  color: #e2e2e2;
  font-family: "FontinSmallcaps",sans-serif;
  font-weight: normal
}

.filter-body-no-checkbox {
  padding-left: 39px;
  width: 100%;
}

.threshold-set {
  display: flex;
  gap: 3px;
  height: 30px;
  width: 100%;
  cursor: default;
}

.threshold-label {
  flex: 50%;
  text-align: right;
  align-content: center;
  padding-right: 12px;
  color: #fff8e1;
}

.threshold-values {
  flex: 50%;
  display: flex;
  gap: 3px;
  height: 30px;
  width: 100%;
  cursor: default;
}

.threshold {
  text-align: center;
  flex: 1;
  font-size: 13px;
  line-height: 22px;
  color: #fff;
  background: #1e2124;
  padding: 5px;

  .dot {
    position: absolute;

    &::after {
      content: " •";
      opacity: 0.6;
      font-size: 300%;
      vertical-align: baseline;
      line-height: 18px;
      margin-left: 8px;
    }
  }
}

.tier-hidden {
  background-color: #1d1d1d !important;
  opacity: 0.3 !important;
}

.tier-shown {
}

.tier-white {
  background-color: rgba(255, 255, 255, 0.301);
  .dot::after {
    color: white;
  }
}

.tier-yellow {
  background-color: rgba(255, 255, 0, 0.226);
  .dot::after {
    color: yellow;
  }
}

.tier-orange {
  background-color: rgba(255, 145, 0, 0.281);
  .dot::after {
    color: orangered;
  }
}

.tier-brown {
  background-color: rgba(173, 81, 20, 0.274);
  .dot::after {
    color: brown;
  }
}

.text-align-center {
  text-align: center;
}

.examples, .principles {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.example, .principle {
  flex: 1 1 calc(33.333% - 1rem);
  box-sizing: border-box;
  padding: 1rem;

  @media (max-width: 767px) {
    flex: 1 1 100%;
  }
}

.example {
  img {
    border: 1px solid #bb9e7469;
    max-width: 100%;
    height: auto;
  }

  p {
    margin-top: 0.5rem;
  }
}

.display-block {
  display: block !important;
}

.download-btn, .copy-btn  {
  width: calc(50% - 12px);
}

.download-btn  {
  width: calc(50% - 12px);
  background-color: #0f304d !important;
  border-color: #4c4c7d !important;
}

#trade .controls .clear-button {
  min-width: 80px !important;
}

#trade .controls .export-import-button {
  min-width: 80px;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .col-md-3, #trade .controls .controls-left, #trade .controls .controls-right {
      width: 25% !important;
  }

  .col-md-6, #trade .controls .controls-center {
      width: 50% !important;;
  }
}

@media (max-width: 767px) {
  #trade .controls .download-btn, #trade .controls .copy-btn {
      margin-bottom: 5px;
  }
}
@media (max-width: 1199px) {
  #trade .controls .download-btn, #trade .controls .copy-btn {
      min-width: auto;
  }
}

@media (max-width: 767px) {
  #trade .controls .clear-btn, #trade .controls .export-import-button {
      float: unset;
      margin-right: 5px; /* No idea why this is required */
  }
}

.nav-tabs .menu-tab:not(.active) {
  cursor: pointer;
}

.nav-tabs .menu-tab > a {
  height: 32px;
}

.nav-tabs .menu-tab > a::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
}

.nav-tabs .menu-quick-filter > a::before {
  background: url(/trade.png?v=1733975490307&key=nIFEZiE4lkptZMARNY-yNQ) no-repeat;
  background-position: -282px -200px;
  height: 18px;
  width: 18px;
}

.nav-tabs .menu-advanced-rules > a::before {
  background: url(/trade.png?v=1733975490307&key=nIFEZiE4lkptZMARNY-yNQ) no-repeat;
  background-position: -168px -200px;
  height: 18px;
  width: 18px;
}

.nav-tabs .menu-custom-rules > a::before {
  background: url(/trade.png?v=1733975490307&key=nIFEZiE4lkptZMARNY-yNQ) no-repeat;
  background-position: -164px -229px;
  height: 18px;
  width: 18px;
}

.nav-tabs .menu-cosmetic > a::before {
  background: url(/trade.png?v=1733975490307&key=nIFEZiE4lkptZMARNY-yNQ) no-repeat;
  background-position: -148px -200px;
  height: 18px;
  width: 18px;
}

.reset-font {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

.nav-tabs.main {
  width: 100% !important;
  padding: 0;
}

.nav-tabs.account {
  width: 0% !important;
  padding: 0;
}

.praises {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: row;

  @media (min-width: 768px) {
    justify-content: space-between;
  }
}

.praise {
  flex: 1 1 calc(20% - 1rem);
  box-sizing: border-box;
  padding: 1rem;

  .praise-text {
    position: relative;
    display: inline-block;

    /* &::before {
      content: '“';
      position: absolute;
      left: -20px;
      bottom: -50px;
      opacity: 0.2;
      font-size: 400%;
    } */
  }

  .author {
    color: #e2e2e2;
    opacity: 0.8;
    margin-top: 8px;

    &&::before {
      content: ' — ';
      margin-left: 8px;
    }
  }

  @media (max-width: 767px) {
    flex: 1 1 calc(50% - 1rem);
    text-align: center;
  }
}

.full-width {
  width: 100% !important;
}

.filter-double-padded-right {
  padding-right: 85px;
}

.filter-label {
  border-left: none !important;
  text-align: right !important;
  width: unset !important;
}

@media (max-width: 767px) {
  .hide-on-md {
    display: none;
  }
}

.show-on-md {
  display: none;
}

@media (max-width: 767px) {
  .show-on-md {
    display: unset;
  }
}

.toggle-button {
  height: 30px;
  border: none !important;
  background-color: #090a0a !important;
  margin-right: 4px;

  &.active {
    background-color: #45494e !important;
  }

  &:hover {
    background-color: #2d3136 !important;
  }

  &:last-child {
    margin-right: 0;
  }
}

.color-picker-dot {
  min-width: 18px !important;
  width: 18px !important;
  height: 18px !important;
  max-width: 18px !important;
  border-radius: 50% !important;
  margin: 0px !important;
  padding: 0px !important;
  margin-right: 8px !important;
  cursor: pointer;
}

.color-picker-label {
  text-align: left !important;
}

.color-picker-label-text {
  margin-top: 1px;
  margin-bottom: -1px;
}

.style-example {
  width: unset;
  text-align: center;
}

::ng-deep .color-picker {
  background-color: #1e2124 !important;
}

::ng-deep .color-picker .hex-text {
  display: none !important;
}

.version {
  float: right;
  margin-right: 12px;
}
