<div class="search-advanced-items">

  <div class="row row-total row-justify-content-left">
    <div class="info reset-font">
      Here you can create custom show, hide and highlight rules based on Item Class, Base Type and Rarity. The rules are inserted and processed in the order they are listed.
      The higher the rule, the higher its precedence.<br/><strong>Warning!</strong> This could cause (even all) items to be hidden, or shown. Use with care.
    </div>
  </div>

  <div class="search-advanced-pane full-width">

    <div class="filter-group expanded">
      <div class="filter-group-body">

        @for (rule of filter.customRules; track $index) {
        <div class="filter full-span">
          <span class="input-group-btn">
            <button class="btn toggle-btn" [class.off]="!rule.active" (click)="toggleCustomRuleActive($index)"></button>
          </span>
          <span class="filter-body">
            <div tabindex="-1" class="multiselect filter-select" style="width: 180px;">
              <div class="multiselect__tags">
                <select [(ngModel)]="rule.itemType" (change)="itemTypeChanged(rule)" [disabled]="!rule.active">
                  <option [value]="'All'">All</option>
                  @for (itemType of itemData; track itemType.itemType) {
                  <option [value]="itemType.itemType">{{ itemType.itemType }}</option>
                  }
                </select>
              </div>
            </div>
            <span class="sep"></span>
            <pf-autocomplete
              [options]="getBaseTypesForItemType(rule.itemType)"
              [disabled]="!rule.active"
              [showOptions]="rule.itemClass !== 'All'"
              [selectedValues]="rule.baseTypes"
              (selectedValuesChange)="selectedValuesChanged(rule, $event)"></pf-autocomplete>
            <span class="sep"></span>
            <div tabindex="-1" class="multiselect filter-select" style="width: 50px;">
              <div class="multiselect__tags">
                <select [(ngModel)]="rule.rarityComparator" (change)="updateFilter()" [disabled]="!rule.active || currencyItemTypes.includes(rule.itemType)">
                  <option [value]="Comparator.GreaterThanOrEqual">≥</option>
                  <option [value]="Comparator.Equal">=</option>
                  <option [value]="Comparator.LessThanOrEqual">≤</option>
                </select>
              </div>
            </div>
            <span class="sep"></span>
            <div tabindex="-1" class="multiselect filter-select" style="width: 120px;">
              <div class="multiselect__tags">
                <select [(ngModel)]="rule.rarity" (change)="updateFilter()" [disabled]="!rule.active || currencyItemTypes.includes(rule.itemType)">
                  <option [value]="Rarity.Normal">Normal</option>
                  <option [value]="Rarity.Magic">Magic</option>
                  <option [value]="Rarity.Rare">Rare</option>
                  <option [value]="Rarity.Unique">Unique</option>
                </select>
              </div>
            </div>
            <span class="sep"></span>
            <div tabindex="-1" class="multiselect filter-select" style="width: 100px;">
              <div class="multiselect__tags">
                <select [(ngModel)]="rule.displayType" (change)="updateFilter()" [disabled]="!rule.active">
                  <option [value]="DisplayType.Hide">Hide</option>
                  <option [value]="DisplayType.Show">Show</option>
                  <option [value]="DisplayType.White">White</option>
                  <option [value]="DisplayType.Yellow">Yellow</option>
                  <option [value]="DisplayType.Orange">Orange</option>
                  <option [value]="DisplayType.Brown">Brown</option>
                  <option [value]="DisplayType.Purple">Purple</option>
                </select>
              </div>
            </div>
          </span>
          <!-- <span class="input-group-btn" title="Continue">
            <button class="btn toggle-btn" [class.off]="!rule.continue" (click)="rule.continue = !rule.continue; updateFilter();"></button>
          </span> -->
          <span class="input-group-btn">
            <button class="btn remove-btn" (click)="removeCustomRule($index)"></button>
          </span>
        </div>
        }

        <div class="filter filter-padded">
          <button type="button" class="btn clear-btn" style="width: 100%;" (click)="addCustomRule()">
            Add Custom Rule
          </button>
        </div>

      </div>

      <div class="clear"></div>
    </div>

  </div>
</div>
